body {
  font-family: 'Poppins', sans-serif;
  margin: 2;
  padding: 4;
  background-color: wheat;
  color: black;
}
header {
  background-color: maroon;
  color: wheat;
  text-align: center;
  padding: 15px 0;
}

nav a {
  color:wheat ;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.hero  {
  color:black ;
  text-align: center;
  padding: 20px 20px;
}

button {
  background-color: maroon;
  border: none;
  padding: 10px 20px;
  color: wheat;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: maroon;
}

section {
  padding: 15px 10px;
  text-align: center;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2px;
}

.item img {
  border-radius: 10px;
  width: 150px;
  height: 250px;
  object-fit: cover;
}

footer {
  background-color:maroon;
  color: white;
  text-align: center;
  padding: 15px;
}